@import 'components/toastr-comingsoon';

body, html, h1, p {
  height: 100%;
  margin: 0 auto;
  font-family: 'Dosis', sans-serif;
}

.bg {
  background-image: url("/img/comingsoon.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.containercoming{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.logofree{
  width: 280px;
}
h1{
  font-size: 60px;
  letter-spacing: 15px;
}
p{
  font-size: 20px;
  margin-bottom: 5px;
}
#launch{
  font-size: 3rem;
  word-spacing: 20px;
}
.iconsocial{
  margin: 25px 0px;
}
.social{
  width: 30px;
  margin: 8px;
  padding: 2px;
  opacity: 0.5;
}
.social:hover{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 1;
}
/*formSubs*/
#formSubs{
  margin: 15px;
}
#input-email{
  margin: 5px;
}
#textEmail{
  width: 60%;
  height: 25px;
  padding: 0 20px;
  border: 3px solid rgba(255, 255, 255, 0.66);
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 100%;
}
#submit{
width: 25%;
height: 30px;
font-size: 100%;
padding: 0 10px;
background-color: #0099ff;
border: 1px solid #0099ff;
color: white;
border-radius: 10px;
font-weight: 700;
transition: all 0.125s ease-in-out 0s;
cursor: pointer;
}
#submit:hover{
  background-color: white;
  border: 1px solid white;
  color: #0099ff;
  opacity: 1;
  transition: all 0.125s ease-in-out 0s;
}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 10px;
    margin-top: 20px;
  }
  .logofree{
    width: 220px;
  }
  #textEmail{
    width: 85%;
    font-size: 80%;
  }
  #submit{
  width: 28%;
  font-size: 80%;
  }
  #launch{
    font-size: 2rem;
    word-spacing: 10px;
  }
}
