strong{
  font-weight: bold;
}
figure{
  img {
    width: 100%;
  }
}

.card-blog {
  position: relative;
  margin: $element-top-margin 0 $element-bottom-margin 0;
  background-color: $card-bg-color;
  transition: box-shadow .25s;
  border-radius: 10px;
  @extend .z-depth-1;

  .card-blog-title {
    font-size: 22px;
    font-weight: bold;
    &.activator {
      cursor: pointer;
    }
  }

  // Card Sizes
  &.medium {
    position: relative;

    .card-blog-image {
      max-height: 50%;
      overflow: hidden;
    }
    .card-blog-image + .card-blog-content {
      max-height: 50%;
    }
    .card-blog-content {
      max-height: 100%;
      overflow: hidden;
    }
    .card-blog-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.medium {
    height: 400px;

    .card-blog-image {
      max-height: 40%;
    }
    .card-blog-image + .card-blog-content {
      max-height: 60%;
    }
  }

  .card-blog-image {
    position: relative;

    // Image background for content
    img {
      display: block;
      border-radius: 10px 10px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    .card-blog-title {
      color: $card-bg-color;
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;
      padding: 5px 25px;
    }
  }

  .card-blog-content {
    padding: 5px 24px;
    border-radius: 0 0 2px 2px;
    color: $color-dark-gray;

    p {
      margin: 0;
      text-align: justify;
    }
    h2{
      font-size: 18px;
      font-weight: bold;
    }
    .card-blog-title {
      display: block;
      line-height: 32px;
      margin-bottom: 8px;

      i {
        line-height: 32px;
      }
    }

    img{
      width: 100%;
    }
  }

  .card-blog-content{
    @media #{$small-and-down}{
      h2{
        font-size: 18px !important;
      }
    }
  }

  .card-blog-action {
    &:last-child {
      border-radius: 0 0 10px 10px;
    }
    background-color: inherit; // Use inherit to inherit color classes
    border-top: 1px solid rgba(160,160,160,.2);
    position: relative;
    padding: 10px $card-padding;

    a:not(.btn):not(.btn-large):not(.btn-floating) {
      color: $card-link-color;
      margin-right: $card-padding;
      transition: color .3s ease;
      text-transform: uppercase;

      &:hover { color: $card-link-color-light; }
    }
  }
}
.card-blog-p{
  color: #959595;
  font-size: 14px;
}
.date{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: $color-blue-lance;
  width: 55px;
  height: 55px;
  padding: 6.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.day{
  font-size: 18px;
}
.month{
  font-size: 12px;
  text-transform: uppercase;
}
.background-title{
  background-color: $color-blue-lance;
}
.post-info{
  line-height: 17px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #b3b3b1;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 0px;
}
.fb_iframe_widget span {
    margin-bottom: 5px !important;
}
