.background-white{
  background: white;
  width: 100%;
  height: auto;
}
.background-gray{
  background: #fbfbfb;
  width: 100%;
  height: auto;
}
.text-center-img{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.padding-top{
  padding-top: 20px;
}
.margin-bottom{
  margin-bottom: 20px;
}
.padding-bottom-icon{
  padding-bottom: 8px;
}
.separate{
  border-bottom: $color-blue-lance solid 4px;
  margin: 20px auto;
  width: 60px;
}
.img-icon{
  width: 45px;
  margin: 0 auto;
  display: block;
}
.icon-center-div{
  display: flex;
}
.button{
    border-radius: 12px;
    padding:10px 30px;
    background-color: white;
    color: $color-blue-lance;
    border: 2px solid $color-blue-lance;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover{
    background-color: $color-blue-lance;
    color: white;
}
//Slider Home
.bold-title-slider{
  font-weight: bold;
  letter-spacing: 4px;
}
.p-slider-content{
  font-size: 1.32rem;
  letter-spacing: 3px;
}
//footer icons
.social-media-m{
  width: 24px;
  opacity: 0.5;
}
.social-media-m:hover{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 1;
}
.social-media-s{
  width: 20px;
}
.social-media-padding-top{
  padding-top: 10px;
}
//Profile freelancce
.avatar, .img-avatar{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.avatar{
  position: relative;
  bottom: 50px;
  margin: 0 auto;
  background-color: white;
}
.img-avatar{
  padding: 5px;
}
.img-padding-full{
  padding: 5px;
}
.top-text-card-medium{
  position: relative;
  bottom: 65px;
}
.card-profile-title{
  display: block;
  font-size: x-large;
  font-weight: 600;
}
.card-profile-subtitle{
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  color:#757575;
}
.card-profile-p{
  padding-top: 12px;
  font-size: 14px;
  font-weight: normal;
}
.card-profile-icon{
  padding-top: 12px;

  .icon{
    width: 28px;
    margin: 5px;
  }
}
//parallax profile
.process-box{
  background-color: #fff;
  color: $color-blue-lance;
  padding: 30px;
  border-radius: 10px;

  p{
    margin: 0;
  }
}
//media query
.hide-on-small-and-down-box-homework{
  @media #{$small-and-down}{
    padding-top: 0.35rem !important;
  }
  @media #{$medium-and-down}{
    padding-top: 0.35rem !important;
  }
}
.hide-on-small-parallax-mobile{
  @media #{$small-and-down}{
    height: auto;
  }
}
//global components freelance
.content-wrapper{
  padding: 70px 0px;
}
.bold-content{
  font-weight: bold;
}
.font-weight-parallax{
  font-weight: 600;
}
.title{
  font-weight: bold;
  letter-spacing: 2px;
}
.title-parallax-spacing{
  letter-spacing: 16px;
}
.sub-title{
  font-weight: 300;
}
.padding-content-parallax{
  padding: 40px 0px;
}
.color-darkgray{
  color: $color-dark-gray;
}
.justify-align{
  text-align: justify;
}
.p-phrase{
  font-size: 28px;
}
//Card small Portfolio
.border-title{
  border-left: 3px solid $color-dark-gray;
  padding-left: 20px;
}
.tag-title{
  font-style: italic;
  color: #757575;
  font-size: 14px;
}
.card-title-portfolio{
  font-size: 18px;
  font-weight: bold;
  display: block;
  line-height: 32px;
  cursor: pointer;
  a {
    color: $color-dark-gray;
  }
}
//Portfolio filter section
.filtering{
  font-weight: lighter;
  font-style: italic;
  font-size: 18px;
    li {
      margin-right: 10px;
    }
    .active, li:hover{
      color: $color-blue-lance;
    }
    li::after{
      content: "/";
      color: $color-dark-gray;
      padding-left: 10px;
    }
    li:last-of-type::after{
      content: "";
    }
}
.li-filter{
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
}
//Parallax blog
.p-content{
  font-size: 1.32rem;
  letter-spacing: 8px;
}
//all side images web
#mis-vis{
  background-image: url('/img/freelance-mision-vision.webp');
}
#site-web{
  background-image: url('/img/sitios-web-home.webp');
}
#web-responsive{
  background-image: url('/img/web-responsive.webp');
}
#bene-freelance{
  background-image: url('/img/beneficios-freelance.webp');
}
#desarrollo-web-ser{
  background-image: url('/img/desarrollo-web-servicios.webp');
}
#app-movil{
  background-image: url('/img/desarrollo-movil-android-ios.webp');
}
#e-commerce{
  background-image: url('/img/comercio-electronico.webp');
}
#free-dp{
  background-image: url('/img/sitios-web.webp');
}
#mis-vis, #site-web, #web-responsive, #bene-freelance, #desarrollo-web-ser, #app-movil, #e-commerce, #free-dp{
  background-size: cover;
  height: 450px;
  background-position: center;
}
